server:
  port: 9000

spring:
  application:
    name: demo

  datasource:
    platform: mysql
    url: jdbc:mysql://localhost:3306/todo
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
